pandas==2.2.3
numpy==1.24.2
Pillow==9.4.0
torch==1.13.1
scikit-learn==1.2.2
jupyter==1.0.0
rtpt==0.0.4
kmeans_pytorch==0.3
hdbscan==0.8.40
matplotlib==3.10.0
seaborn==0.13.2
pycocotools==2.0.8
natsorted
einops==0.8.0
tqdm==4.66.4
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
flask==3.1.0
openpyxl==3.1.5
